.about-hero{
    font-family: $font__m;
    font-size:30px;
    text-transform: uppercase;
    padding:20px;
     margin:0px;
     padding-bottom:0px;
     text-decoration:underline;

}
.about-hero h3{
    margin:0px;
}


.about-section{
    font-family: $font__r;
    font-size:15px;
    padding:20px;
    margin:0px;
}