.site-footer{
    padding:20px;
    font-family: $font__m;
    background:lightgrey;
    h5{
        font-weight:400;
        font-size:25px;
        margin:0;
        text-transform:uppercase;
    }
}