.product-preview,
.skillsets,
.about-banner,
.information-counter,
.contact-section {
    padding: 20px;
    font-family: $font__m;
    text-align: center;
    .title-container {
        @include titles;
    }
}

//product-preview
.product-preview {
    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5em;
        text-align: center;
    }
    .household {
        background-image: url("../../resources/graphics/household.jpg");
        @include images;
    }
    .home-decor {
        background-image: url("../../resources/graphics/homedecor.jpeg");
        @include images;
    }
    .furniture {
        background-image: url("../../resources/graphics/furniture.jpeg");
        @include images;
    }
    .seasonal {
        background-image: url("../../resources/graphics/seasonal.jpeg");
        @include images;
    }
    .garden {
        background-image: url("../../resources/graphics/garden.jpg");
        @include images;
    }
    .paper {
        background-image: url("../../resources/graphics/paper.jpeg");
        @include images;
    }
}

//about
.about-banner {
    color: white;
    font-family: $font__m;
    padding: 20px 38px;
    background-color: $color__blue;
    .about-desc {
        display: none;
    }
    .readmore-button {
        margin: 0;
        text-decoration: none;
        color: #00305B;
        border: 1px white solid;
        padding: 20px;
        width: 100%;
        display: block;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        &:hover {
            color: white;
            background: lightskyblue;
        }
        @include tablet {
            width: auto;
            display: inline-block;
        }
    }
}

.about-desc.show {
    display: block;
}

.about-summary {
    font-weight: 200;
    font-size: 18px;
}

//skills
.skillsets .title-container {
    margin-bottom: 20px;
}

.skillset-container {
    .skill-img {
        width: 50px;
    }
    .skillset-title {
        font-weight: 400;
        margin: 0;
        font-size: 20px;
    }
    .skillset-description {
        font-weight: 200;
        font-size: 18px;
    }
}

.skillsets {
    @include tablet {
        @include flexrow;
        .square {
            width: 31.33333%;
            .skill-img {
                width: 70px;
            }
        }
    }
}