.site-content{
    @include desktop{
    margin-left:300px;
    overflow:hidden;
} 
}

.information-counter, .skillset-overview{
    padding:20px;
}

.information-counter{
    text-align:center;
    .counter-title{
        font-size:30px;
    }
    .count{
        font-size:20px;
    }
}
.contact-banner{
    text-align:center;
    background:yellow;
    padding:20px;
}

.banner-link{
    text-decoration: none;
    color:black;
    border:1px black solid;
    padding:20px;
    width:100%;
    display:block;
    background:green;
    border-radius:5px;
    text-transform:uppercase;
}

.banner-link:hover{
    color:yellow;
    background:white;
}