// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin titles{
	text-transform:uppercase;
   h3{
       margin-top:0;
       margin-bottom:0;
       font-size:1.5rem;
       font-weight: 200;
   }
  span{
        font-weight:700;
        font-size:30px;
  }
   @include tablet{
	   h3{
            font-size: 2rem;
        }
        span{
            font-size:35px;
        }
   }
}

@mixin desktopalign{
    max-width:1200px;
    margin:auto;
}

@mixin flexrow{
     display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
@mixin images{
    background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

@mixin button{
     margin: 0;
        text-decoration: none;
        color: #00305B;
        border: 1px white solid;
        padding: 20px;
        width: 100%;
        display: block;
        background-color: white;
        cursor: pointer;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        font-size:16px;
        font-weight:400;
        &:hover {
            color: white;
            background: lightskyblue;
        }
        @include tablet {
            width: auto;
            display: inline-block;
            padding: 15px 68px;
        }
}

@mixin larger{
    @media (min-width: $larger){
        @content;
    }
}
@mixin desktop {
	@media (min-width: $desktop) {
		@content;
	}
}

@mixin tablet{
	@media (min-width: $tablet) {
		@content;
	}
}