#site-navigation {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	ul {
		list-style: none;
		font-family: $font__m;
		li a {
			text-decoration: none;
		}
	}
	.nav-menu-mini {
		@include desktop {
			margin-left: 0;
			padding--top: 43px;
			position: absolute;
			text-align: left;
			margin-left: 757px;
		}
	}
}

#masthead {
	@include desktop {
		border-top: 4px solid $color__darkg;
		border-bottom: 4px solid $color__blue;
		background-color: white;
	}
}

.home-nav-link {
	@include desktop {
		order: -1;
	}
}

.home-nav-link img {
	max-width: 115px;
	padding: 3px 13px;
	@include tablet {
		max-width: 133px;
		padding: 0px 13px;
	}
	@include desktop {
		max-width: 182px;
	}
}

//hamburger menu
.nav-hamburger {
	transition: .25s;
	transition: .25s;
	padding: 13px 19px;
	position: absolute;
	height: 50px;
	width: 70px;
	z-index: 50;
	@include tablet {
		padding: 15px 19px;
	}
}

.hamburger-container {
	position: relative;
	display: block;
	.menu-bar-top {
		border: 4px solid black;
		border-bottom: none;
		top: 0;
		width: 40px;
	}
	.menu-bar-middle {
		height: 4px;
		background-color: black;
		margin-top: 7px;
		margin-bottom: 7px;
		top: 4px;
		width: 40px;
	}
	.menu-bar-bottom {
		border: 4px solid black;
		border-top: none;
		top: 22px;
		width: 40px;
	}
	.hamburger-bar {
		position: absolute;
		width: 100%;
		transition: .5s;
	}
}

.nav-hamburger {
	&:hover {
		cursor: pointer;
	}
	@include desktop {
		display: none;
	}
}

.menu-main-menu-container {
	background-color: #00305B;
	position: fixed;
	top: 0;
	height: 100%;
	width: 330px;
	margin-left: -330px;
	font-size: 25px;
	font-weight: 500;
	overflow: auto;
	transition: .25s;
	z-index: 20;
	border-right: 1px solid white;
	@include desktop {
		background-color: transparent;
		font-size: 14px;
		font-weight: 500;
		position: initial;
		width: 499px;
		border: none;
		margin-left: -475px;
	}
	.menu {
		text-transform: uppercase;
		margin: 81px 0 0 6px;
		@include desktop {
			margin: 0;
			padding: 0px;
			width: auto;
			margin-top: 39px;
			display: flex;
			flex-direction: row;
		}
		li {
			border-bottom: 1px solid white;
			width: 87%;
			padding: 10px 0;
			cursor:pointer;
			@include desktop {
				border: none;
				width: 100%;
				padding: 0;
				display: inline;
			}
			a {
				color: white;
				@include desktop {
					color: black;
					padding-right: 52px;
				}
			}
		}
		.menu-item-53 a {
			padding-right: 0px;
		}
		.menu-item-17 {
			border-top: 1px solid white;
			@include desktop {
				display: none;
			}
		}
	}
}

#menu-item-1173 {
			@include desktop {
				background-color: white;
				.sub-menu {
					display: none;
					padding-left: 4px;
					width: 143px;
					li{
							display:block;
							a{
							padding: 0px !important;
						}
						}
					.sub-menu{
						padding-left:8px;
						cursor:pointer;
						&:hover{
							color: blue;
						}
					}
				}
				&:hover .sub-menu {
					display: block;
				}
			}
		}

.menu-show {
	margin-left: 0;
}

.button-open {
	.menu-bar-top {
		-webkit-transform: rotate(45deg) translate(8px, 8px);
		-ms-transform: rotate(45deg) translate(8px, 8px);
		-o-transform: rotate(45deg) translate(8px, 8px);
		transform: rotate(45deg) translate(8px, 8px);
		transition: .5s;
		border: 2px solid black;
	}
	.menu-bar-middle {
		-webkit-transform: translate(230px);
		-ms-transform: translate(230px);
		-o-transform: translate(230px);
		transform: translate(230px);
		transition: .1s ease-in;
		opacity: 0;
		border: 2px solid white;
	}
	.menu-bar-bottom {
		-webkit-transform: rotate(-45deg) translate(8px, -7px);
		-ms-transform: rotate(-45deg) translate(8px, -7px);
		-o-transform: rotate(-45deg) translate(8px, -7px);
		transform: rotate(-45deg) translate(8px, -7px);
		transition: .5s;
		border: 2px solid black;
	}
}

//slide out menu
.header-search {
	display: none;
	@include desktop {
		display: block;
		color: white;
		top: 0;
		background-color: $color__darkg;
		position: relative;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 13px;
		height: 30px;
		width: 401px;
		.search-form {
			padding: 1px 8px 0 6px;
			display: inline-block
		}
		.header-contact,
		.header-phone,
		.header-fax {
			display: inline;
		}
		.search-submit {
			color: white;
			background-color: $color__darkg;
			border: 1px solid $color__darkg;
			border-radius: 10px;
			border: none;
			box-shadow: none;
			text-shadow: none;
			font-size: 19px;
			padding: 0px;
			&:hover {
				color: $color__sb;
			}
		}
		fieldset {
			border: none;
			padding: 0px;
		}
	}
	input[type="search"] {
		font-family: $font__m;
		border: 1px solid $color__darkg;
		height: 13px;
	}
}

.sub-menu {
	margin: 0px;
	width: 200px;
}

.sub-menu li {
	border-bottom: none !important;
	font-size: 16px;
}

