#site-navigation {
	display: flex;
	justify-content: space-between;
	max-width: 1180px;
	margin: 0 auto;
	overflow: hidden;
	ul {
		list-style: none;
		font-family: $font__m;
		li a {
			text-decoration: none;
		}
	}
}

.home-nav-link {
	@include desktop {
		order: -1;
	}
}

.home-nav-link img {
	max-width: 115px;
	padding: 3px 13px;
	@include tablet {
		max-width: 133px;
		padding: 0px 13px;
	}
	@include desktop {
		max-width: 142px;
	}
}

//hamburger menu
.nav-hamburger {
	transition: .25s;
	transition: .25s;
	padding: 13px 19px;
	position: absolute;
	height: 50px;
	width: 70px;
	z-index: 50;
	@include tablet {
		padding: 15px 19px;
	}
}

#masthead{
	background-color:lightgray;
}
.hamburger-container {
	position: relative;
	display: block;
	.menu-bar-top {
		border: 4px solid black;
		border-bottom: none;
		top: 0;
		width: 40px;
	}
	.menu-bar-middle {
		height: 4px;
		background-color: black;
		margin-top: 7px;
		margin-bottom: 7px;
		top: 4px;
		width: 40px;
	}
	.menu-bar-bottom {
		border: 4px solid black;
		border-top: none;
		top: 22px;
		width: 40px;
	}
	.hamburger-bar {
		position: absolute;
		width: 100%;
		transition: .5s;
	}
}

.nav-hamburger {
	&:hover {
		cursor: pointer;
	}
	@include desktop {
		display: none;
	}
}

.menu-main-menu-container {
	background-color: #00305B;
	position: fixed;
	top: 0;
	height: 100%;
	width: 330px;
	margin-left: -330px;
	font-size: 25px;
	font-weight: 500;
	overflow: auto;
	transition: .25s;
	z-index: 20;
	border-right: 1px solid white;
	@include desktop {
		background-color: lightgray;
		margin: 8px 0px 0px 87px;
		font-size: 18px;
		font-weight: 400;
		position: initial;
		width: auto;
		border:none;
	}
	#primary-menu {
		text-transform: uppercase;
		margin: 81px 0 0 6px;
		li {
			border-bottom: 1px solid white;
			width: 87%;
			padding: 10px 0;
			@include desktop {
				border: none;
				width: 100%;
				padding: 0;
				display: inline;
			}
			a {
				color: white;
				@include desktop {
					color: black;
					padding-right: 10px;
				}
			}
		}
		.menu-item-17 {
			border-top: 1px solid white;
			@include desktop {
				display: none;
			}
		}
		@include desktop {
			margin: 0;
			padding: 0px;
			width: auto;
			margin-top:10px;
		}
	}
}

.menu-show {
	margin-left: 0;
}

.button-open {
	.menu-bar-top {
		-webkit-transform: rotate(45deg) translate(8px, 8px);
		-ms-transform: rotate(45deg) translate(8px, 8px);
		-o-transform: rotate(45deg) translate(8px, 8px);
		transform: rotate(45deg) translate(8px, 8px);
		transition: .5s;
		border: 2px solid black;
	}
	.menu-bar-middle {
		-webkit-transform: translate(230px);
		-ms-transform: translate(230px);
		-o-transform: translate(230px);
		transform: translate(230px);
		transition: .1s ease-in;
		opacity: 0;
		border: 2px solid white;
	}
	.menu-bar-bottom {
		-webkit-transform: rotate(-45deg) translate(8px, -7px);
		-ms-transform: rotate(-45deg) translate(8px, -7px);
		-o-transform: rotate(-45deg) translate(8px, -7px);
		transform: rotate(-45deg) translate(8px, -7px);
		transition: .5s;
		border: 2px solid black;
	}
}

//slide out menu
.header-search {
	display: none;
	@include desktop {
		display: block;
		margin-top:10px;
		.search-form{
			padding: 6px 13px 0 0px;
		}
		.search-submit {
			color: $color__fb;
			background-color: lightgray;
			border: 1px solid white;
			border-radius: 10px;
			border: none;
			box-shadow: none;
			text-shadow: none;
			font-size: 19px;
			padding: 0px;
			&:hover{
				color: $color__yellow;
			}
		}
		fieldset {
			border: none;
			padding:0px;
		}
	}
	input[type="search"]{
		font-family: $font__m;
		border: 1px solid black;
	}
}