/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.nav-container{
	height:100%;
    z-index:20;
    margin-top: 182px;
	a{
		text-decoration:none;
	}
	@include desktop{
		margin-left:0;
		width:300px;
		height:100%;
		padding:10px;
		left:0;
		overflow:hidden;
		text-align:center;
	}
}
/* Links */
.main-navigation {
	clear: both;
	display: block;
	height:54px;
	background:white;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	@include desktop{
		background:transparent;
        height: 100%;
        padding: 0;
        margin:0;
	}
}

//hamburger animation

.nav-hamburger {
    position: absolute;
    width: 54px;
    height: 54px;
    margin: 0;
    transition: .25s;
    z-index: 40;
    padding: 14px 10px;
}

.hamburger-container {
    position: relative;
    display: block;
}

.nav-hamburger:hover {
    cursor: pointer;
}

.hamburger-bar {
    position: absolute;
    width: 100%;
    transition: .5s;
}

.nav-hamburger .menu-bar-top {
    border: 4px solid black;
    border-bottom: none;
    top: 0;
}

.nav-hamburger .menu-bar-middle {
    height: 4px;
    background-color: black;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
}

.nav-hamburger .menu-bar-bottom {
    border: 4px solid black;
    border-top: none;
    top: 22px;
}

.button-open .menu-bar-top {
       -webkit-transform:rotate(45deg) translate(8px, 8px);
   -ms-transform:rotate(45deg) translate(8px, 8px);
   -o-transform:rotate(45deg) translate(8px, 8px);
   transform:rotate(45deg) translate(8px, 8px);
    transition: .5s;
    border: 2px solid black;
}

.button-open .menu-bar-middle {
    -webkit-transform:translate(230px);
   -ms-transform:translate(230px);
   -o-transform:translate(230px);
   transform:translate(230px);
    transition: .1s ease-in;
    opacity: 0;
    border: 2px solid white;
}

.button-open .menu-bar-bottom {
       -webkit-transform:rotate(-45deg) translate(8px, -7px);
   -ms-transform:rotate(-45deg) translate(8px, -7px);
   -o-transform:rotate(-45deg) translate(8px, -7px);
   transform:rotate(-45deg) translate(8px, -7px);
    transition: .5s;
    border: 2px solid black;
}

//slide out menu
.menu-main-menu-container{
	background:green;
	top:0;
	margin-left:-334px;
	width:334px;
	transition: .25s;
	z-index: 20;
	height:100%;
	position:fixed;
	a{
		text-decoration:none;
	}
	@include desktop{
		background:transparent;
		margin-left:0;
		width:300px;
		height:100%;
		padding:10px;
		left:0;
		overflow:hidden;
		text-align:center;
        z-index:0;
        position: initial;
       
	}
}

.menu-show{
	margin-left:0;
	.menu{
		margin:116px 0 0 48px;
	}
}


.nav-hamburger{
	@include desktop{
	display:none;
	}
}

.main-navigation .sub-menu {
    margin-left:20px;
}

.navigation-image-desktop{
    display:none;
    @include desktop{
        display:block;
    }
}
.navigation-image{
        float: right;
    height: auto;
    max-width: 110px;
    @include desktop{
        display:none;
    }
}
.flickity-viewport{
    width: 100% !important;
}
//site banner 
